---
import {CircleArrowUp} from 'lucide-react';
---
<div class="sticky w-[100%] justify-items-end bottom-10 flex flex-row-reverse z-40">
  <button id="scroll-top-button" class="hover:cursor-pointer"><CircleArrowUp /></button>
</div>

<script>
  const button = document.querySelector("#scroll-top-button");
  const scrollToTop = () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  };

  button?.addEventListener("click", () => {
    scrollToTop();
  });
</script>