<div class="scroll-button-container">
  <button class="scroll-top-button">Go to top</button>
</div>

<script>
  const button = document.querySelector(".scroll-top-button");
  const scrollToTop = () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  };

  button?.addEventListener("click", () => {
    scrollToTop();
  });
</script>

<style>
  .scroll-button-container {
    position: sticky;
    bottom: 10px;
    display: flex;
    align-items: flex-end;
    width: 100%;
    flex-direction: row-reverse
  }

  @media (max-width: 600px) {
    .scroll-button-container {
      bottom: 40px;
    }
  }
</style>
