---
import { format } from "date-fns";
const metaDataApiUrl =
  "https://data.cityofnewyork.us/api/views/metadata/v1/tvpp-9vvx.json";

const response = await fetch(metaDataApiUrl);
const data = await response.json();
---

<div class="metadata-info">
  This data set was updated by the NYC Office of CECM on:
  <span class="metadata-date-text">
    {
      data && data.dataUpdatedAt
        ? format(new Date(data.dataUpdatedAt), "PPpp")
        : ""
    }
  </span>
</div>

<style>
  .metadata-info {
    font-size: 18px;
    background-color: #fff3cd;
    color: #856404;
    border-color: #ffeeba;
    border: 1px solid transparent;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    font-weight: bolder;
  }

  .metadata-date-text {
    text-decoration: underline;
  }

  @media (max-width: 600px) {
    .metadata-info {
      text-align: center;
      font-size: 15px;
    }
  }
</style>
