.header-content {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bolded-content {
  font-weight: 700;
}

.footer-content {
  text-align: center;
  display: flex;
  flex-direction: row;  
  width: 100%;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.table-container {
  margin: auto;
  width: 100%;
}

.metadata-info {
  font-size: 18px;
  background-color: #fff3cd;
  color: #856404;
  border-color: #ffeeba;
  width: 100%;
  border: 1px solid transparent;
  margin: 0 auto 15px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}