---
import { ModeToggle } from "../ModeToggle";
---

<header class="header-content">
  <ModeToggle client:load/>
  <h1 class="text-center text-4xl font-extrabold tracking-tight text-balance">NYC Parades</h1>
</header>
<style>
  @media (max-width: 600px) {
    .header-title {
      font-size: 1.7rem;
    }

    .header-content {
      text-align: initial;
      font-size: 14px;
    }
  }
</style>
