---
import { ModeToggle } from "../ModeToggle";
import { AboutProject } from "../about-project/AboutProject";
import {Support} from "../support/Support";
---

<header class="header-content flex flex-col gap-4 pt-4">
  <div class="flex flex-row-reverse w-full gap-4">
    <ModeToggle client:load />
    <Support client:load />
    <AboutProject client:load />
  </div>
  <h1 class="text-center text-4xl font-extrabold tracking-tight text-balance">
    NYC Events
  </h1>
</header>
<style>
  @media (max-width: 600px) {
    .header-title {
      font-size: 1.7rem;
    }

    .header-content {
      text-align: initial;
      font-size: 14px;
    }
  }
</style>
