---

---

<footer class="footer-content">
  <a
    href="https://data.cityofnewyork.us/City-Government/NYC-Permitted-Event-Information/tvpp-9vvx/about_data"
    target="_blank"
  >
    data source
  </a>
  |
  <a href="https://github.com/chinjon/nyc-events" target="_blank">
    source code
  </a>
</footer>

<style>
  .footer-content {
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }

  @media (max-width: 600px) {
    .footer-content {
      font-size: 11px;
      white-space: nowrap;
    }
  }
</style>
