---

---

<footer class="footer-content">
    <a
        href="https://data.cityofnewyork.us/City-Government/NYC-Permitted-Event-Information/tvpp-9vvx/about_data"
        target="_blank"
    >
        Powered by NYC Opendata
    </a>
    |
    <a href="https://github.com/chinjon/nyc-events" target="_blank">
        Source code
    </a>
    |
    <a href="https://jonathanch.in" target="_blank">
        Built by Jonathan Chin
    </a>
</footer>

<style>
    .footer-content {
        text-align: center;
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 10px;
        justify-content: center;
        margin-top: 20px;
    }
</style>
