.event-card {
  display: flex;
  flex-direction: row;
  border: 1px solid #000;
  border-radius: 10px;
  gap: 25px;
  padding: 10px;
  width: 100%;
  max-width: 600px;
}

.event-title {
  font-size: larger;
  font-weight: bolder;
}

.event-type {
  font-size: medium;
  font-weight: bold;;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
}

.event-date {
  display: flex;
  flex-direction: column;
}

.event-date-month-day {
  display: flex;
  flex-direction: row;
  font-size: 27px;
  font-weight: 900;
  gap: 5px;
  font-style: italic;
}

.event-date-year {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
}

.badge {
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
  text-wrap: nowrap;
}

.borough-badge-color {
  background-color: rgb(31, 163, 146);
}

.generic-badge-color {
  background-color: rgb(248, 67, 67);
}

.badge-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 600px) {
  .event-card {
    max-width: 80vw;
  }
}