.header-content {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-content {
  text-align: center;
  display: flex;
  flex-direction: row;  
  width: 100%;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.table-container {
  margin: auto;
  width: 100%;
}