---
export const prerender = true;
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/balloon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="dark" />
    <link rel="stylesheet" href="./pico.min.css" />
    <title>NYC Permitted Events</title>
  </head>
  <body>
    <main class="container">
      <slot />
    </main>
  </body>
</html>

<style>
  /* Hacked together based on:
 * https://jgthms.com/web-design-in-4-minutes/ 
 */

  :root {
    --color-hi: #f56a6a;
  }

  * {
    box-sizing: border-box;
  }

  body {
    color: #555;
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 2em 1em;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  h2,
  h3 {
    margin-top: 1.5em;
  }

  h1,
  h2,
  strong {
    color: #333;
  }

  code,
  pre {
    background: #eee;
  }

  code {
    padding: 2px 4px;
    vertical-align: text-bottom;
  }

  pre {
    border-left: 2px solid #bbb;
    padding: 1em;
  }

  a {
    color: var(--color-hi);
  }

  blockquote,
  q {
    border-left: solid 4px #bbb;
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
  }

  blockquote::before,
  blockquote::after,
  q::before,
  q::after {
    content: "";
    content: none;
  }

  .header-content {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .bolded-content {
    font-weight: 700;
  }

  .table-container {
    margin: auto;
    width: 100%;
  }
</style>
